.movie {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
  background-color: #fff;
}

.poster {
  width: 100%;
  display: block;
}

.movie-details {
  padding: 10px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.2em;
  margin: 10px 0 0;
  color: #333;
}
