
  
  figure {
    flex: 0 0 auto; /* Do not grow, do not shrink, maintain initial size */
    margin-right: 20px; /* Space between the image and content */
  }
  
  img {
    max-width: 100%;
    width: 200px; /* Ensure the image does not exceed its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; 
    position: relative;
    left: 20%;/* Rounded corners */
  }
  
 
  .card-content {
    background-color: #f9f9f9; /* Background color of the card content */
    padding: 20px; /* Padding around the content */
    border: 1px solid #ddd; /* Optional: Border around the card content */
    border-radius: 5px; /* Rounded corners */
    width: 50%; /* Set the width of the card content */
  }
  
  .title {
    font-size: 24px; /* Title font size */
    font-weight: bold; /* Title font weight */
    color: #333; /* Title color */
    margin-bottom: 10px; /* Margin below the title */
  }
  
  .label {
    color: #dc25ae; /* Blue color for the label text */
    font-weight: bold;
    margin: 2px; /* Make the label text bold */
  }
  
  .value {
    color: #de0861;
    margin: 2px; /* Gray color for the value text */
  }
  
  .back-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    margin-top: 10px; /* Margin above the button */
  }
 
  .back-btn:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  
  .movie-section {
    padding: 20px;
  }
  
  .loading,
  .error {
    text-align: center;
    margin-top: 20px;
  }
  
